* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  background: #222;
}
a {
  color: #000;
}
img {
  border-radius: 8px;
}
/* -----------------------------------navbar----------------------------------- */
header {
  z-index: 100;
  position: fixed;
  background: #1f7a8c;
  background: #222;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.8s ease;
  border-bottom: 1px #fff solid;
}
header.static {
  background: #1f7a8c;
  padding: 10px 200px;
  border: none;
}
.navbar__logo {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
  letter-spacing: 1.3px;
}
.navbar__links {
  position: relative;
}
.navbar__links a {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  margin-left: 30px;
  transition: 0.8s ease;
}
.navbar__links a:hover {
  color: #1f7a8c;
}
header.static .navbar__links a:hover {
  color: #222;
}
.ham-menu {
  color: #fff;
  width: 30px;
  height: 30px;
  display: none;
}
/* -----------------------------------home----------------------------------- */
section {
  padding: 100px 200px;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #222;
}
.home__content {
  max-width: 800px;
}
.home__content h2 {
  color: #fff;
  font-size: 2em;
  font-weight: 500;
}
.home__content h2 span {
  font-size: 2.8em;
  font-weight: 700;
}
.animated-text {
  position: relative;
  height: 70px;
  overflow: hidden;
}
.animated-text h3 {
  color: #1f7a8c;
  font-size: 3em;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
}
.animated-text h3:nth-child(1) {
  animation: move-text 12s infinite;
}
.btn {
  margin-top: 25px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  background: #1f7a8c;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1.1px;
  border-radius: 1.5px;
  transition: 0.8s ease;
}
.btn:hover {
  background: #153e46;
}
.home__media {
  margin-top: 50px;
}
.home__media a {
  color: #fff;
  font-size: 40px;
  margin-right: 30px;
}
/* animations */
@keyframes move-text {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: -70px;
  }
  50% {
    margin-top: -140px;
  }
  75% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0px;
  }
}

/* -----------------------------------Bio----------------------------------- */
.bio {
  background: #fafdf6;
}
.bio p {
  color: #6b705c;
  font-size: 1.2em;
}
.bio__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  position: relative;
  color: #1f7a8c;
  font-size: 2.2em;
  font-weight: 700;
  margin-bottom: 60px;
}
.title:before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 2px;
  background: #1f7a8c;
  transform: translateX(-50%);
}
.title:after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #1f7a8c;
  transform: translateX(-50%);
}
.bio .bio__content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.bio .bio__content .left-col {
  position: relative;
  width: 45%;
}
.bio .bio__content .right-col {
  position: relative;
  width: 50%;
}
.bio .bio__content .right-col .content-title {
  margin: 20px 0;
}
.bio .bio__content .left-col .bio__card {
  position: relative;
  width: 100%;
  min-height: 450px;
}
.bio .bio__content .left-col .bio__card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bio .bio__content .left-col .bio__card iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  justify-content: center;
  align-items: center;
}
/*  -----------------------------------progress ----------------------------------- */
#progress {
  margin-bottom: 50px;
  background: #222;
  color: #fff;
}
.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 100px;
}
#progress p {
  font-size: 1.2em;
  width: 80%;
}
#progress .content .card {
  background: #222;
  color: #fff;
  width: 340px;
  margin: 10px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 25px rgba(31, 122, 140, 0.25);
  transition: all 0.8s ease;
  border-radius: 5px;
}
#progress .content .card .progress-icon {
  color: #1f7a8c;
  align-items: center;
  text-align: center;
  transition: transform 0.8s ease;
}
#progress .content .card .progress-icon span {
  color: #1f7a8c;
  font-size: 8em;
  align-items: center;
  text-align: center;
}
#progress .content .card:hover {
  box-shadow: 0 0 60px rgba(31, 122, 140, 0.5);
  transition: all 0.8s ease;
}

@keyframes move-icon {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

#progress .content .card:hover .progress-icon {
  animation: move-icon 12s infinite;
}
#progress .content .card .info {
  text-align: center;
}
#progress .content .card .info h3 {
  color: #1f7a8c;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
}
/*  ----------------------------------- contact ways----------------------------------- */
.contact {
  background: #fafdf6;
}
.contact .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
}
.contact .content .row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.contact .content .row .card {
  display: flex;
  justify-content: center;
  width: 240px;
  margin: 20px;
  padding: 25px;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
  border: 2px solid #1f7a8c;
  transition: transform 0.8s ease;
}
.contact .content .row .card .contact-icon span {
  text-align: center;
  align-items: center;
  font-size: 3.5em;
  color: #1f7a8c;
  transition: transform 0.8s ease;
}
.contact .content .row .card:hover .contact-icon span {
  transform: translateY(-10px);
}
.contact .content .row .card .info h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px;
  text-align: center;
  justify-content: center;
  color: #1f7a8c;
}
/*  -----------------------------------contact form----------------------------------- */
.contact-form {
  background: #f4f6f8;
  background: #fefeff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 8px;
}
.contact-form h3 {
  color: #222;
  font-size: 1.8em;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}
.contact-form .contact_input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact-form .contact_input-box input,
.contact-form .contact_input-box textarea {
  font-weight: 700;
  position: relative;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 1em;
  border: 1.4px solid #1f7a8c;
  border-radius: 30px;
}
.contact-form .contact_input-box textarea {
  border-radius: 8px;
  padding: 20px;
}
.contact-form .contact_input-box textarea {
  border-radius: 8px;
  padding: 20px;
}
.contact-form .contact_input-box textarea:focus,
.contact-form .contact_input-box input:focus {
  outline: none;
  border: 2px solid #1f7a8c;
  box-shadow: 0 0 25px rgba(36, 81, 90, 0.25);
}
.contact-form .contact_input-box .send-btn {
  background: #1f7a8c;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1em;
  cursor: pointer;
  width: 100%;
  border: none;
  transition: transform 0.8s ease;
}
.contact-form .contact_input-box .send-btn:hover {
  transform: translateY(-10px);
}
/*  -----------------------------------footer----------------------------------- */
.footer {
  color: #1f7a8c;
  background: #222;
  padding: 20px;
  text-align: center;
  align-items: center;
  border-top: 1px #fff solid;
}
.footer-title {
  font-size: 20px;
  font-weight: bold;
}
.footer a {
  color: #fff;
}
#project{
  min-width: 100%;
}
/*  -----------------------------------Galery----------------------------------- */
img {
  width: 100%;
}
.image {
  display: inline-flex;
  position: relative;
  width: 100%;
}
.image img {
  width: 100%;
}
.galery-row {
  background: #111;
  margin-top: 58px;
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
  min-height: 100vh;
}
.column {
  flex: 15%;
  padding: 5px;
}
.column a{
  margin: 5px;
}
.column a img {
  margin-top: 0px;
}
/* image effect */
.image__img {
  display: block;
  width: 100%;
}
.image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #1f7a8c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  opacity: 0;
  backdrop-filter: blur(5px);
  transition: opacity 0.8s ease;
  border-radius: 8px;
}
.image__overlay:hover {
  opacity: 1;
  border-radius: 8px;
}
.image__overlay > * {
  transform: translateY(5px);
  transition: transform 0.8s ease;
}
.image__overlay:hover > * {
  transform: translateY(0);
  transition: transform 0.8s ease;
}
.image__title {
  font-size: 2em;
  font-weight: 700;
  -webkit-text-stroke: 0.5px #fff;
  color: transparent;
}
.image__text {
  font-size: 2em;
  font-weight: 500;
  margin-top: 0.2em;
  -webkit-text-stroke: 0.5px #fff;
  color: transparent;
}

/*  -----------------------------------responsive----------------------------------- */
@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }
  header.static {
    padding: 10px 20px;
  }
  .navbar__links {
    display: none;
  }
  .navbar__links.active {
    display: inline;
    z-index: 2;
    position: fixed;
    background: #222;
    top: 0;
    right: 0;
    width: 380px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.8s ease;
    box-shadow: 0 5px 25px rgba(31, 122, 140, 0.2);
  }
  .navbar__links.active a {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    margin: 20px;
    border: 1px solid #1f7a8c;
    padding: 5px 20px;
    border-radius: 3px;
  }

  .ham-menu {
    display: flex;
    justify-content: flex-end;
  }
  .ham-menu span {
    position: absolute;
    transition: 0.8 ease;
    display: block;
    z-index: 999;
  }
  #ham-icon {
    transition: 0.8 ease;
  }
  .ham-menu .active {
    position: absolute;
    display: block;
    z-index: 999;
  }
  section {
    padding: 80px 20px;
  }
  .home .home__content h2 {
    font-size: 1em;
  }
  .bio .bio__content {
    flex-direction: column;
  }
  .bio .bio__content .col {
    position: relative;
    width: 100%;
  }
  .bio .bio__content .right-col {
    margin-top: 20px;
  }
  .bio .bio__content .right-col .btn {
    margin-top: 40px;
  }
  .contact-form {
    padding: 35px 40px;
  }
}
@media (max-width: 450px) {
  .bio .bio__content .right-col .btn {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .column {
    flex: 100%;
  }
}
@media (max-width: 1020px) {
  .bio .bio__content .right-col {
    margin-top: 60px;
  }
}
@media (max-width: 600px){
  .daliT{
    font-size: 1em;
  }
  .dali{
    max-height: 30px;
  }
}
@media (max-width: 1839px){
  .contact-form{
    margin: 70px;
  }
}
@media (min-width: 1839px){
  .contact-form{
    margin: 20px;
  }
}
