<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PI_w2</title>
    <!-- script file -->
    <script src="js/script.js" defer></script>
    <!-- style file -->
    <link rel="stylesheet" href="css/style.css">
    <!-- google fonts api -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap" rel="stylesheet">
    <!-- google icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- favicon  -->
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
</head>

<body>
    <!-- navbar -->
    <header id="navbar">
        <a href="index.html" class="navbar__logo">WMYM</a>
        <div class="ham-menu" id="ham-menu">
            <span class="material-icons" id="ham-icon">
                menu
            </span>
        </div>
        <div class="navbar__links">
            <a href="index.html">Home</a>
            <a href="progress1.html">P.I</a>
        </div>
    </header>


    <!-- act1 -->
    <section class="bio">
        <div class="bio__title">
            <h2 class="title">Week 2</h2>
        </div>
        <div class="bio__content">

            <div class="col left-col">
                <div class="bio__card">
                    <img src="img/artdev/progress1/w2_summary.jpg" alt="videoSS">
                </div>
            </div>

            <div class="col right-col">
                <h2 class="content-title">
                    Weekly Video Summary
                </h2>
                <p>
                    <br><br>
                    Well for me was something quite important to learn about artistic appreciation, especially the first
                    two steps that are observe and percieve. Was very important since it is something essential in
                    people's lives
                    to be able to
                    appreciate things differently, especially art.
                    <br><br>
                    Sometimes we do not notice where you can see art or how
                    it manifests but it
                    is important to recognize it even in those places, situations or things in which we do not think
                    that some type of
                    artistic expression could be present on a day-to-day basis.
                    Like this foto. Some people may think is art and other people not.
                    <br><br>
                    I think that as people and professionals is
                    essential.
                    <br><br>

                </p>
            </div>
        </div>
    </section>


    <!-- act 2 -->
    <section class="bio">
        <div class="bio__content">

            <div class="col left-col">
                <div class="bio__card">
                    <img src="img/artdev/progress1/w2_hearPhones.jpg" alt="HearPhones">
                </div>
            </div>

            <div class="col right-col">
                <h2 class="content-title">
                    Weekly Video Questions
                </h2>
                <p>
                    <br><br>
                    Think about what moments in the last week you created a connection with some artistic expression.
                    <br><br>
                    I signed up for the Photography Club.
                    <br><br>
                    Was
                    What was it that triggered or started that connection?
                    <br><br>
                    Well, I had always liked how cameras work in social and scientific ways. Also love how a camera can
                    capture reality with a totalyy different
                    approach. So I decided to
                    enter the club
                    <br><br>
                    What does that moment say about who you are as a person?
                    <br><br>
                    I think it represented my desire to learn about everything, especially art.
                    How might that moment influence decisions about the near future ... let's say next week?
                    <br><br>
                    Well it fills my free time (which is no longer free haha), I have to take a lot of
                    photos and that
                    excites me
                    <br><br>
                </p>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <span class="footer-title">
            WMYM
        </span>
        <a href="https://github.com/WashingtonYandun/Art-Human-Expression-Communication_Portfolio" target="_blank">Art
            Portfolio</a>
    </footer>

</body>

</html>
